	.txt{
  		padding-bottom: 30px;
  		margin: 0 30px;
  	}
  	.txt img{
  		max-width: 100%;
  	}
  	.from-time{
  		font-size: 12px;
  		color: #999;
  	}
  	.ctime{
  		margin-left: 20px;
  	}
  	.breadcrumb{
  		background-color: #fff;
  		border-bottom: 1px solid #eee;
  		border-radius: 0;
  	}
  	.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #eee;
    content: ">";
}
