<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
		<context:annotation-config/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/newscms?useUnicode=true&amp;characterEncoding=UTF-8"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>
		<!-- 最大连接数 -->
		<property name="maxActive" value="100"/>
		<!-- 最大等待连接数 -->
		<property name="maxIdle" value="60"/>
		<!-- 最大等待时间，单位未毫秒，超过时间回报出错信息 -->
		<property name="maxWait" value="10000"/>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 依赖注入上面所配置的数据源 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 通过hibernate.cfg.xml配置其他相关属性 -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
	</bean>
<!-- 事务管理bean -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>
<!-- hibernateTemplate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
<!-- news业务bean -->
	<bean id="newsDao" class="com.zzy.dao.impl.NewsDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="newsService" class="com.zzy.service.impl.NewsServiceImpl"/>
<!-- category业务bean -->
	<bean id="categoryDao" class="com.zzy.dao.impl.CategoryDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="categoryService" class="com.zzy.service.impl.CategoryServiceImpl"/>
<!-- image业务bean -->
	<bean id="imageDao" class="com.zzy.dao.impl.ImageDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="imageService" class="com.zzy.service.impl.ImageServiceImpl"/>
<!-- user业务bean -->	
	<bean id="UserDao" class="com.zzy.dao.impl.UserDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	<bean id="userService" class="com.zzy.service.impl.UserServiceImpl"/>
	
<!-- ActionBean -->
	<bean id="newsAction" class="com.zzy.action.NewsAction" scope="prototype"/>
	<bean id="categoryAction" class="com.zzy.action.CategoryAction" scope="prototype"/>
	<bean id="imageAction" class="com.zzy.action.ImageAction" scope="prototype"/>
</beans>