<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>      
         <!--  <property name="connection.url">jdbc:mysql://localhost:3306/newscms</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="myeclipse.connection.profile">mysql</property>-->
	
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- getCurrentSession!!!! 
        <property name="hibernate.current_session_context_class">thread</property>-->
    	<!-- 向控制台显示执行的SQL语句 -->
    	<property name="show_sql">false</property>
    	<property name="hbm2ddl.auto">update</property>
    	<!-- 配置映射文件 -->
    	<mapping resource="com/zzy/po/News.hbm.xml"/>
    	<mapping resource="com/zzy/po/Comment.hbm.xml"/>
    	<mapping resource="com/zzy/po/User.hbm.xml"/>
    	<mapping resource="com/zzy/po/Category.hbm.xml"/>
    	<mapping resource="com/zzy/po/AdImg.hbm.xml"/>
    	<mapping resource="com/zzy/po/NewsImg.hbm.xml"/>
    	<mapping resource="com/zzy/po/Avatar.hbm.xml"/>
     </session-factory>

</hibernate-configuration>